# Server Configuration
server:
  port: ${PORT:8080}
  forward-headers-strategy: framework

spring:
  application:
    name: analyzer
  threads:
    virtual:
      enabled: true
  datasource:
    url: ${SUPABASE_DB_URL}
    username: ${SUPABASE_DB_USER:postgres}
    password: ${SUPABASE_DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 5
      minimum-idle: 5
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: validate
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    properties:
      hibernate:
        format_sql: false
    show-sql: false
  flyway:
    enabled: false
    locations: classpath:db/migration
  servlet:
    multipart:
      enabled: true
      file-size-threshold: 2MB
      max-file-size: 200MB
      max-request-size: 200MB

jwt:
  secret: ${JWT_SECRET}
  #expiration-ms: 86400000

admin:
  user: admin
  password: admin

management:
  endpoints:
    web:
      exposure:
        include: health
    health:
      show-details: always
